::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(32, 126, 106, 0);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.498);
  border-radius: 20px;
}

.mainBox {
  /* background-color: rgb(103, 103, 103); */
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 90%;
  margin-top: 35px;
}

.secondaryBox {
  background-color: rgb(70, 70, 70);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 31%;
  height: 80vh;
  box-shadow: 0px 15px 20px -2px rgba(0, 0, 0, 0.514);
}

.secondaryBox h1 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0px 0;
  padding: 10px 0;
  font-size: 25px;
  color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.514);
}

.stockMarketBox {
  /* border-top: 1px solid white; */
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: auto;
}

.stockMarketCards {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.711);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.stockMarketCards h2 {
  text-align: left;
  color: white;
  font-size: 20px;
  margin: 10px 18px 10px 18px;
}

.stockMarketCards p {
  text-align: left;
  font-size: 15px;
  margin: 10px 18px 0 18px;
}

.stockMarketCards a {
  text-decoration: none;
}

.stockMarketCards h4 {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  color: black;
  width: 100px;
  margin-left: 20px;
  padding: 2px;
  transition: 300ms;
  text-decoration: none;
}

.stockMarketCards h4:hover {
  background-color: rgba(0, 255, 255, 0.259);
  color: white
}

.stockMarketCards img {
  border-radius: 15px;
  object-fit: cover;
  width: 92%;
  height: 250px;
  margin: 0 auto;
}